.logoImg,
.navlink {
  flex: 6;
}
.navItem .active {
  color: var(--primary);
  font-weight: 600;
}
.sectionTwo {
  width: 100%;
}
.sectionThree {
  width: 100%;
	background-image: url("./images/map.png");
  padding: 0 10px;
}
.registerSection {
  max-width: 1100px;
  max-height: 280px !important;
  margin: 0 auto;
  border-radius: 10px;
}
.register {
  position: absolute;
  margin-left: 40rem;
}
.button {
  background-color: var(--purple) !important;
  color: var(--primary) !important;
  border-radius: 20px !important;
}
.title {
  font-weight: bold !important;
  color: var(--primary);
}
.input {
  width: 90%;
  padding: 2px 10px !important;
  outline: 1px solid gray;
  border-radius: 2px;
}
