@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3c1d59;
  --secondary: #fbfff0;
  --tetiary: #fdfcff;
  --purple: #ddd0e9
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
